* {
  padding-left: 5px;
  padding-right: 5px;
}
.navbar {
  background-color: black;
  height: 60px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
button {
  background-color: black;
  color: white;
  height: 35px;
  width: 100px;
}
tfoot {
  background-color: black;
  color: white;
  border: none;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 25px;
}
table {
  padding-left: 25px;
  width: 60%;
}
ul{
    padding-left: 20px;
}
ol{
    padding-left: 20px;
}
